<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <ul>
    <td><%=link_to 'Add Friend', '', class:'btn btn-primary'%></td>
    <td><%=link_to 'Remove Friend','', class:'btn btn-danger'%></td>
  </ul>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
