<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
    <% if current_user.friends.is_friend?(@user) %>
      <button><%=link_to 'Remove Friend','', class:'btn btn-danger'%></button>
    <%else%>
      <button><%=link_to 'Add Friend', '', class:'btn btn-primary'%></button>
    <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
